---
layout: default
---

<div class="posts">
  {% assign posts_not_sticky = site.posts | where_exp:'post', 'post.sticky == false' %}
  {% assign posts_sticky = site.posts | where_exp:'post', 'post.sticky == true' %}
  
   {% for post in posts_sticky %}
   {% if post.blogid != 'personal' %}
    {% else %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>

    </article>
    {% endif %}
  {% endfor %}
  
  {% for post in posts_not_sticky %}
   {% if post.blogid != 'personal' %}
    {% else %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <p class="post-meta">
      <span>Posted on {{ post.date }}.</span>
      {% include read-time.html content=post.content %}
      </p>
      <div class="entry">
       
        {% if page.feature-img %}
            <img class="feature-image" src={{ page.feature-img }} alt="Post Feature Image"/>
        {% endif %}
        
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">...</a>
      </div>
    </article>
    {% endif %}
  {% endfor %}
</div>
