---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}


body {
  background: var(--bg);
  font: 18px/1.4 $bodyfont;
  color: var(--text);
}

.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 10px;
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
  color: var(--headings);
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--bg-secondary);
}

p {
  margin: 15px 0;
}

a {
  color: var(--links);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: var(--links);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--bg-secondary);
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: var(--bg-additional);
}
::selection {
  color: $black;
  background: var(--bg-additional);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
//  position: fixed;
//  top: 0;
//  width: 100%;
//  height: $masthead-height;
//  background-color: #eee;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid var(--bg-additional);
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: var(--text);
  cursor: pointer;
  font-family: $headerfont;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: var(--bg-secondary);
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $headerfont;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: var(--nav-links);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: var(--links);
    }
  }
}

//
// Hiding nav
//

// Button
.nav-slider-button{
  position: fixed;
  top: 70px;
  right: 10px;
}

.nav-slider-button button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 70%;
}

.nav-slider-open .nav-slider {
  transform: translateX(0);
}

.nav-slider-open .main {
  transform: translateX(-350px);
}


.nav-slider {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--bg-additional);
  transform: translateX(350px);
  transition: transform 0.2s;
  overflow: hidden;
  z-index: 10;
}

.nav-slider-buttons{
  background: none;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

.nav-slider-close, .nav-slider-night, .nav-slider-contact {
  background: none;
  align-items: center;
  border: none;
  padding: 10px 15px;
  color: var(--bg-secondary);
  margin-right: auto;
  cursor: pointer;
}

.nav-slider-close:hover, .nav-slider-night:hover, nav-slider-contact:hover{
  background: rgba(255, 255, 255, 0.1);
}

.nav-slider-links-container {
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
}

.nav-slider__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  text-decoration: none;
  color: #dddddd;
}

.nav-slider__text {
  font-size: 22px;
  font-family: "Assistant", sans-serif;
  font-weight: 500;
}

.nav-slider__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

.main-search{
  position: relative;
  display: flex;
  min-width: 100px;
}

.search{
  border: 1px solid lightGray;
  border-radius: 5px;
  height: 24px;
  font-size: 100%;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search:hover, .search:focus {
  border: 1.5px solid var(--links);
  background-color: white;
}

.search-results a {
  color: var(--bg-secondary);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: var(--links);
  }
}
//
//
//

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--bg-additional);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: var(--bg-secondary);
    font-size: 22px;
    font-style: italic;
  }
	
  table	{
	border:1px solid #dfe2e5;
  }
	
  table th {
	padding:6px 13px;
	border:1px solid #dfe2e5;
  }
  
  table tr {
	padding:4px 6px 4px 6px;
	border:1px solid #dfe2e5;
  }

  table td {
	padding:4px 6px 4px 6px;
	border:1px solid #dfe2e5;
  }
	
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    display:inline;
  }
}

.entry > p:first-of-type:first-letter{
    color: white;
    background-color: #4183c4;
    border-radius: 2px;
    box-shadow: 3px 3px 0 #ddd;
    font-size: 150%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: var(--bg-additional);
}

footer {
  padding: 20px 0;
  text-align: center;
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.feat-img
{
  margin: 0 auto;
  display: block;
}

// night transition
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 650ms !important;
    transition-delay: 0 !important;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
