
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

html {
    --bg: #fff;
    --bg-secondary: #666;
    --bg-additional: #eee;
    --nav-links: #333;
    --headings: #333;
    --links: #4183C4;
    --text: #333;
}

html[data-theme='dark'] {
    --bg: #212121;
    --bg-secondary: #666;
    --bg-additional: #3f3f3f;
    --nav-links: #b0b0b0;
    --headings: #b0b0b0;
    --links: #8ab4f8;
    --text: #dcdcdc
}


//Header
$masthead-height            : 90px;

// Font stacks
$bodyfont: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
$headerfont: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
